body{
	background-color: black;
	color: white;
		font-family: 'PT Mono';

}
img{
	max-width: 80%
}
p{
	font-size: 18px;
}
.reviews{
  text-align: center;
  font-style: italic;
  display: flex;
  align-items: center;
}
.cite{
	font-style: normal;
}
